<main class="page covid-releif-page">
  <section class="landing-hero">
    <div class="container">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </section>
  <section class="title-section">
    <div class="container">
      <div class="spacer"></div>

      <h1 class="text-center">Karuna Covid Releif</h1>
      
      <div class="inner">
        <p>At the start of this year with the Covid-19 pandemic hitting the entire world, those living under the poverty line were hit even harder. Loss of jobs led to lack of food, and they were unable to have proper protective measures to combat this pandemic.</p>

        <p>Karuna Welfare Society did not ignore the problem but rallied to be part of the solution. Since April 2020, we have been able to provide food supplies, masks, sanitizers for those who live under the poverty line and refreshments and food packets to those who were returning by foot to their native villages</p>

        <p>We were also able to raise awareness and get people to donate blankets and other beddings for those living on the streets due to financial challenges.</p>
        
        <p>As of December 2020, we have helped over 5,000 families and we are looking to help more if the situation worsens. If you want to partner with us and help us help others, please feel free to contact us.</p>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </section>
  <section class="gallery">
    <div><%= image_tag 'covid-releif-1.JPG' %></div>
    <div><%= image_tag 'covod-releif-2.JPG' %></div>
    <div><%= image_tag 'covid-releif-3.JPG' %></div>
    <div><%= image_tag 'covid-releif-4.JPG' %></div>
  </section>
  <div class="spacer"></div>
  <div class="spacer"></div>
</main>