// Colors

$blue-1: #004578;
$blue-2: #005a9e;
$blue-3: #106ebe;
$blue-4: #0078d4;
$blue-5: #2b88d8;
$blue-6: #71afe5;
$blue-7: #c7e0f4;
$blue-8: #deecf9;
$blue-9: #eff6fc;
$gray-1: #201f1e;
$gray-2: #323130;
$gray-3: #3b3a39;
$gray-4: #605e5c;
$gray-5: #a19f9d;
$gray-6: #c8c6c4;
$gray-7: #e1dfdd;
$gray-8: #edebe9;
$gray-9: #f3f2f1;
$gray-10: #faf9f8;
$black: #000000;
$white: #ffffff;

// --------------------

// Typography

$text-1: 68px;
$text-2: 42px;
$text-3: 32px;
$text-4: 28px;
$text-5: 24px;
$text-6: 20px;
$text-7: 18px;
$text-8: 16px;
$text-9: 14px;
$text-10: 12px;
$text-11: 10px;

// ---------------------