<main class="page karuna-aid-page">
  <section class="landing-hero">
    <div class="container">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </section>
  <section class="title-section">
    <div class="container">
      <div class="spacer"></div>

      <h1 class="text-center">Karuna Aid</h1>
      
      <div class="inner">
        <p>Numerous studies show that illiterate women have high levels of fertility and mortality, poor nutritional status, low earning potential, and little autonomy within the household. A woman’s lack of education also has a negative impact on the health and wellbeing of her children.</p>

        <p>Karuna Aid aims to help the girls in India with their education, food, housing, and clothing. We believe that children, no matter their gender, are destined to do great things if given the right opportunities. Karuna Aid aspires to be the opportunity for girls who would otherwise would not have the chance for formal education, or basic amenities.</p>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </section>
</main>