<footer class="site-footer">
  <div class="container">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="inner text-center">
      <h2>Karuna Welfare Society</h2>
      <p class="footer-contact-info flex space-between"><span>+91-129-4047223</span><span>info@karunasociety.co.in</span></p>
      <address class="footer-address-info">Administrative office: #390, Sector 21-C, Faridabad, Haryana 121001, INDIA</address>
      <address class="footer-address-info">Registered office: Karuna Welfare Society, #135 Lenin Sarani, Dharmatala PO, Near Union Chapel, Kolkata - 70013, West Bengal, INDIA</address>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</footer>