<footer class="site-footer">
  <div class="container">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="inner text-center">
      <h2>Karuna Welfare Society</h2>
      <p class="footer-contact-info flex space-between"><span>+91-129-4047223</span><span>info@karunasociety.co.in</span></p>
      <address class="footer-address-info">Sector 21-C, Faridabad, Haryana 121001, INDIA</address>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</footer>