<div class="site-nav">
  <div class="container">
    <div class="inner flex space-between">
      <%= link_to "KWS", '/', class: "logo" %>
      <%= link_to "MENU", '#0' , class: "menu"%>
    </div>
  </div>
</div>