<div class="body-overlay">
</div>
<div class="slide-nav">
  <div class="close">
    <button id="close-menu">CLOSE</button>
  </div>
  <div class="slide-menu">
    <nav>
      <ul>
        <li>
          <%= link_to "Home", '/' %>
        </li>
        <li>
          <%= link_to "Karuna Aid", '/karuna-aid' %>
        </li>
        <li>
          <%= link_to "Karuna Covid Releif", 'karuna-covid-releif' %>
        </li>
        <li>
          <%= link_to "Karuna Kendra Study Center", 'karuna-kendra-study-center' %>
        </li>
      </ul>
    </nav>
  </div>
</div>