---
title: Karuna Welfare Society
---

<main>
  <section class="landing-hero">
    <div class="container">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="sps flex">
        <div class="inner">
          <h1 data-aos="fade-right" data-aos-duration="600" data-aos-delay="300" data-aos-offset="10">Investing into India's tomorrow.</h1>
          <div>
            <a href="mailto:info@karunasociety.co.in" class="button" data-aos="fade-right" data-aos-duration="600" data-aos-offset="10"
            data-aos-delay="600">Get in touch</a>
          </div>
        </div>
        <div class="images-container">
          <div data-aos="fade-up" data-aos-duration="600" data-aos-offset="10"
            data-aos-delay="900"><%= image_tag "bubble-1.png" %></div>
          <div data-aos="fade-up" data-aos-duration="600" data-aos-offset="10"
            data-aos-delay="500"><%= image_tag "bubble-2.png" %></div>
          <div data-aos="fade-up" data-aos-duration="600" data-aos-offset="10"
            data-aos-delay="100"><%= image_tag "bubble-3.png" %></div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </section>
  <section class="who-we-are">
    <div class="container">
      <div class="spacer">
      </div>
      <h2>See our various outreach programs to learn more about us:</h2>
      <div class="row">
        <% link_to "/karuna-kendra-study-center", class: "card" do %>
          <span class="title">
            Karuna Kendra Study Center
          </span>
        <% end %>
        <% link_to "/karuna-covid-releif", class: "card" do %>
          <span class="title">
            Karuna Covid Releif
          </span>
        <% end %>
        <% link_to "/karuna-aid", class: "card" do %>
          <span class="title">
            Karuna Aid
          </span>
        <% end %>
        <% link_to "/karuna-water-project", class: "card" do %>
          <span class="title">
            Karuna Water Project
          </span>
        <% end %>
      </div>
      <div class="spacer">
      </div>
    </div>
  </section>
  <section class="what-we-do">
    <div class="container">
      <div class="spacer">
      </div>
      <h2>What we do:</h2>
      <div class="row">
        <div class="card">
          <span class="title">
            Basic Education
          </span>
          <span class="content">
            At our study centers we 
            provide basic education 
            to underprivileged 
            children, to prep them 
            for higher education.
          </span>
        </div>
        <div class="card">
          <span class="title">
            Life Building
          </span>
          <span class="content">
            We try our best 
            to ensure that kids 
            from our centers attain 
            English Medium education 
            in order to avail 
            better opportunities.
          </span>
        </div>
        <div class="card">
          <span class="title">
            Meeting Necessities
          </span>
          <span class="content">
            We provide them with 
            basic help with their school 
            uniforms, stationary, tution 
            support, tutoring, health 
            check ups etc.
          </span>
        </div>
        <div class="card">
          <span class="title">
            Love & Nourishment
          </span>
          <span class="content">
            Each child under the care 
            is nurtured with love and 
            compassion to make them 
            responsible citizens of 
            India.
          </span>
        </div>
      </div>
      <div class="spacer">
      </div>
    </div>
  </section>
</main>